$icomoon-font-family: "PIEMAKER-icons" !default;
$icomoon-font-path: "fonts" !default;

$_piemaker-plus: unquote('"\\e900"');
$_piemaker-cart: unquote('"\\e901"');
$_piemaker-heart: unquote('"\\e902"');

